In [2]:
import numpy as np
import pandas as pd
import string
from sklearn.preprocessing import LabelEncoder

In [1]:
def substrings_in_string(big_string, substrings):
    for substring in substrings:
        if string.find(big_string, substring) != -1:
            return substring
    print (big_string)
    return np.nan

In [41]:
title_list=['Mrs', 'Mr', 'Master', 'Miss', 'Major', 'Rev',
                    'Dr', 'Ms', 'Mlle','Col', 'Capt', 'Mme', 'Countess',
                    'Don', 'Jonkheer']

In [42]:
bs='Mr. Johnson'

In [ ]:
substrings_in_string(bs,title_list)

In [44]:
def s1(string):
    return string.split(' ')[0]

s=['D10 D12','C85', 'C123', 'E46', 'G6 G103','C23 C25 C27', 'B78']
s=np.array(s)
so=map(s1,s)

list(so)

a=map((lambda x:x.split(' ')[0]),s)
list(a)

['D10', 'C85', 'C123', 'E46', 'G6', 'C23', 'B78']

In [ ]:
df['Title']=df['Name'].map(lambda x: substrings_in_string(x, title_list))

In [16]:
x = np.array([[1,2],[3,4],[5,6]])
y = np.array([[-1,-2],[-3,-4],[-5,-6]])
np.c_[x.ravel(), y.ravel()].shape

(6, 2)

In [ ]:
x = pd.Series(['A','B','C','D','X','Y'])
xt = pd.Series(['B','C','E','F'])

xt[xt.isin(x)==0].values

xt.isin(x).idxmin()

In [ ]:
s1 = ['a', 'b', np.nan]
print(pd.get_dummies(s1))
print(pd.get_dummies(s1, dummy_na=True))

In [52]:
pd.get_dummies(pd.Series(list('abcaa')),drop_first=True)

   b  c
0  0  0
1  1  0
2  0  1
3  0  0
4  0  0

In [53]:
df = pd.DataFrame({'A': ['a', 'b', 'a'], 'B': ['b', 'a', 'c'],'C': [1, 2, 3]})
pd.get_dummies(df, prefix=['col1','col2'])

   C  col1_a  col1_b  col2_a  col2_b  col2_c
0  1       1       0       0       1       0
1  2       0       1       1       0       0
2  3       1       0       0       0       1

In [108]:
from collections import defaultdict
s = [('yellow', 1), ('blue', 2), ('yellow', 3), ('blue', 4), ('red', 1)]
d = defaultdict(list)
for k, v in s:
    d[k].append(v)

In [149]:
a = pd.Series(['fill','C85', 'C123', 'E46', 'G6', 'C103', 'D56','C85', 'C123', 'E46'])
b = pd.Series(['C85', 'C', 'E46', 'G6', 'C103', 'B28','C85', 'C123', 'E46','fill'])
print(pd.get_dummies(a))
print(pd.get_dummies(b))

   C103  C123  C85  D56  E46  G6  fill
0     0     0    0    0    0   0     1
1     0     0    1    0    0   0     0
2     0     1    0    0    0   0     0
3     0     0    0    0    1   0     0
4     0     0    0    0    0   1     0
5     1     0    0    0    0   0     0
6     0     0    0    1    0   0     0
7     0     0    1    0    0   0     0
8     0     1    0    0    0   0     0
9     0     0    0    0    1   0     0
   B28  C  C103  C123  C85  E46  G6  fill
0    0  0     0     0    1    0   0     0
1    0  1     0     0    0    0   0     0
2    0  0     0     0    0    1   0     0
3    0  0     0     0    0    0   1     0
4    0  0     1     0    0    0   0     0
5    1  0     0     0    0    0   0     0
6    0  0     0     0    1    0   0     0
7    0  0     0     1    0    0   0     0
8    0  0     0     0    0    1   0     0
9    0  0     0     0    0    0   0     1

In [140]:
a_labels = a.unique()
a_lack = b[b.isin(a_labels)==0].values
labels = np.append(a_labels,a_lack)

In [143]:
labels

array(['fill', 'C85', 'C123', 'E46', 'G6', 'C103', 'D56', 'C', 'B28'],
      dtype=object)

In [148]:
le = LabelEncoder()
le_a = le.fit(labels)
print(le_a.transform(a))
print(le_a.transform(b))

[8 4 3 6 7 2 5 4 3 6]
[4 1 6 7 2 0 4 3 6 8]

In [11]:
df = pd.DataFrame({"A": [1, 2, 3, 4, 5], "B": [3.125, 4.12, 3.1, 6.2, 7.]})

In [12]:
df[df['A']>2]['B'] = 5.0

/Users/lambert/virtualenvs/tensorflow/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [14]:
df.loc[df['A']>2, 'B']=5.0

In [16]:
df.loc[:,'B']=7.0

In [17]:
df

   A    B
0  1  7.0
1  2  7.0
2  3  7.0
3  4  7.0
4  5  7.0